.ss-sales-report .radius-10 {
    border-radius: 10px !important;
}

.ss-sales-report .border-info {
    border-left: 5px solid  #0dcaf0 !important;
}
.ss-sales-report .border-danger {
    border-left: 5px solid  #fd3550 !important;
}
.ss-sales-report .border-success {
    border-left: 5px solid  #15ca20 !important;
}
.ss-sales-report .border-warning {
    border-left: 5px solid  #ffc107 !important;
}


.ss-sales-report .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.ss-sales-report .bg-gradient-scooter {
    background: #17ead9;
    background: -webkit-linear-gradient( 
45deg
 , #17ead9, #6078ea)!important;
    background: linear-gradient( 
45deg
 , #17ead9, #6078ea)!important;
}
.ss-sales-report .widgets-icons-2 {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    font-size: 27px;
    border-radius: 10px;
}
.ss-sales-report .rounded-circle {
    border-radius: 50%!important;
}
.ss-sales-report .text-white {
    color: #fff!important;
}
.ss-sales-report .ms-auto {
    margin-left: auto!important;
}
.ss-sales-report .bg-gradient-bloody {
    background: #f54ea2;
    background: -webkit-linear-gradient( 
45deg
 , #f54ea2, #ff7676)!important;
    background: linear-gradient( 
45deg
 , #f54ea2, #ff7676)!important;
}

.ss-sales-report .bg-gradient-ohhappiness {
    background: #00b09b;
    background: -webkit-linear-gradient( 
45deg
 , #00b09b, #96c93d)!important;
    background: linear-gradient( 
45deg
 , #00b09b, #96c93d)!important;
}

.ss-sales-report .bg-gradient-blooker {
    background: #ffdf40;
    background: -webkit-linear-gradient( 
45deg
 , #ffdf40, #ff8359)!important;
    background: linear-gradient( 
45deg
 , #ffdf40, #ff8359)!important;
}
.ss-sales-report .heading
{
 margin: 10px 0 10px 0; 
 background-color: #f54ea2;  
}
.ss-sales-report .heading h3
{
 padding: 10px 15px 10px 15px;   
 color: #fff;
 font-size: 20px;
 line-height: 24px;
}

.ss-sales-report h6{
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 1rem;
}
.ss-sales-report h5{
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 1.25rem;
}